.wrap{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.top-img img{
    width: 100%;
    height: 600px;
    position: relative;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.title img{
    width: 50%;
    max-width: 300px;
    height: 30%;
    max-height: 150px;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.title h1{
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #6441a5;
    opacity: 80%;
    padding: 0 30px;
}

.title .line{
    width: 100%;
    max-width: 400px;
    border: 2px solid #6441a5;
    height: 1px;
    margin: 20px;
}

.select{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select label{
    color: white;
    font-weight: bold;
    font-size: 20px;
    align-self: stretch;
    background-color: #6441a5;
    opacity: 70%;
    padding: 0 10px;
}

@media(max-width: 414px){
    .select{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .select label{
        margin-bottom: 5px;
    }
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .title .line{
        width: 100%;
        max-width: 350px;
        border: 2px solid #6441a5;
        height: 1px;
        margin: 20px;
    }
    .top-img img{
        width: 100%;
        height: 450px;
        position: relative;
    }
}

@media(max-width: 370px){
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .title h1{
        font-size: 25px;
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: #6441a5;
        opacity: 80%;
        padding: 0 20px;
    }
    .title .line{
        width: 100%;
        max-width: 300px;
        border: 2px solid #6441a5;
        height: 1px;
        margin: 10px;
    }
    .select label{
        color: white;
        font-weight: bold;
        font-size: 16px;
        align-self: stretch;
        background-color: #6441a5;
        opacity: 70%;
        padding: 0 10px;
    }
    .top-img img{
        width: 100%;
        height: 350px;
        position: relative;
    }
}

.card-group{
    display: flex;
    justify-content: center;
    background-color: #031112;
}

.card-list{
    width: 350px;
    height: 280px;
    background-color: antiquewhite;
    position: relative;
    display: flex;
    align-content: center;
    margin: 20px;
}

.card-inner{
    padding: 10px;
}

.rank{
    position: absolute;
    background-color: rgb(109, 8, 109);
    font-size: 24px;
    color: white;
    padding: 5px 15px;
    left: -10px;
    top: -10px;
}

.card-list__clip img{
    width: 100%;
}

.card-list__body{
    width: 50px;
    height: 50px;
}

.card-list__body img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
.card-list_text {
    position: absolute;
    left: 25%;
    bottom: 0px;
    right: 0;
    padding-right: 10px;
}

h2{
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-list__views{
    position: absolute;
    color: tomato;
    right: 15px;
    bottom: 10px;
}

@media(max-width: 575px){
    .card-group{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-list{
        width: 300px;
        height: 280px;
        background-color: antiquewhite;
        position: relative;
        display: flex;
        align-content: center;
        margin: 20px;
    }
    .card-list_text {
        position: absolute;
        left: 25%;
        bottom: 10%;
    }
}

@media(max-width: 370px){
    .card-list{
        width: 280px;
        height: 250px;
        background-color: antiquewhite;
        position: relative;
        display: flex;
        align-content: center;
        margin: 20px;
    }
    .card-list_text {
        position: absolute;
        left: 27%;
        bottom: 5%;
    }
    .card-list__views{
        position: absolute;
        color: tomato;
        right: 15px;
        bottom: 10px;
        font-size: 12px;
    }
}